<h1>Ski Shop Test App</h1>

<ul>
	<li>
		<%= link_to "Add Skis", new_ski_url %>
	</li>
</ul>

<ul class="products">
<% @skis.each do |ski| %>
		<li class="product-item">
		<%= link_to image_tag(ski.url, :class => "image"), ski_url(ski.id) %>
		<br />
		<ul>
		<li>
			<%= link_to "Delete", ski_url(ski.id), :method => 'delete' %>
			<%= link_to "Edit", edit_ski_url(ski.id) %>
			<%= ski.title %>
			<%= ski.price %>
		</li>
		</ul>
<% end %>
</ul>
