<h2><%= @ski.title %></h2>
<h3><%= @ski.price %></h3>
<p><%= link_to "Buy Now", @ski.link %></p>
<p><%= link_to "Back to Index", skis_url %></p>
<p><%= link_to "Delete", ski_url(@ski.id), :method => 'delete' %> </p>
<p><%= link_to "Edit", edit_ski_url(@ski.id) %> </p>

<img src="<%= @ski.url %>" width="600">