<h2><%= @ski.title %></h2>

<body>
<%= image_tag(@ski.url, :class=>"show-ski") %>

<div class="show-right">
<h4 class="show-description">Seller Comparison</h4>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Available At</th>
			<th>Sizes</th>
			<th>Details</th>
			<th>Total Price</th>
		</tr>
  	</thead>
  	<tbody>
      <tr>
  			<td><%= link_to @ski.stores, @ski.link %></td>
  			<td><%= @ski.size %></td>
  			<td><%= @ski.details %> </td>
  			<td><%= @ski.price %> </td>
  		</tr>
  		<tr>
  			<td>backcountry.com</td>
  			<td>167, 177 cm</td>
  			<td>Free shipping</td>
  			<td>$648.99</td>
  		</tr>
  		<tr>
  			<td>skis.com</td>
  			<td>167 cm</td>
  			<td>Free shipping</td>
  			<td>$699.95</td>
  		</tr>
  	</tbody>
</table>

<h4 class="show-description">Description</h4>
<p class="show-description"><%= @ski.description %></p>

</br>

<h4 class="show-description">Aggregated Reviews</h4>
<p class="show-description"><%= @ski.reviews %></p>

<h4 class="show-description">Sizes</h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Size (cm)</th>
      <th>176</th>
      <th>183</th>
      <th>190</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>Turning Radius (m)</td>
        <td>14.7</td>
        <td>16.8</td>
        <td>18.9</td>
      </tr>
      <tr>
        <td>Tip Width (mm)</td>
        <td>131</td>
        <td>132</td>
        <td>133</td>
      </tr>
      <tr>
        <td>Waist Width (mm)</td>
        <td>101</td>
        <td>102</td>
        <td>103</td>
      </tr>
      <tr>
        <td>Tail Width (mm)</td>
        <td>122</td>
        <td>123</td>
        <td>124</td>
      </tr>
      <tr>
        <td>Indv. Ski Weight (g)</td>
        <td>19.5</td>
        <td>20.5</td>
        <td>21.5</td>
      </tr>
    </tbody>
</table>

</div>

</body>

<div class="edit-delete">
<p><%= link_to "Delete", ski_url(@ski.id), :method => 'delete' %> </p>
<p><%= link_to "Edit", edit_ski_url(@ski.id) %> </p>
</div>
