<h2><%= @ski.title %></h2>

<body>
<%= image_tag(@ski.url, :class=>"show-ski") %>

<div class="show-right">
<h4 class="show-description">Seller Comparison</h4>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Available At</th>
			<th>Sizes</th>
			<th>Details</th>
			<th>Total Price</th>
		</tr>
  	</thead>
  	<tbody>
      <tr>
  			<td><%= link_to @ski.stores, @ski.link %></td>
  			<td><%= @ski.size %></td>
  			<td><%= @ski.details %> </td>
  			<td><%= @ski.price %> </td>
  		</tr>
  		<tr>
  			<td>backcountry.com</td>
  			<td>167, 177 cm</td>
  			<td>Free shipping</td>
  			<td>$648.99</td>
  		</tr>
  		<tr>
  			<td>skis.com</td>
  			<td>167 cm</td>
  			<td>Free shipping</td>
  			<td>$699.95</td>
  		</tr>
  	</tbody>
</table>

<h4 class="show-description">Description</h4>
<p class="show-description"><%= @ski.description %></p>

</br>

<h4 class="show-description">Aggregated Reviews</h4>
<p class="show-description"><%= @ski.reviews %></p>

</div>

</body>

<div class="edit-delete">
<p><%= link_to "Delete", ski_url(@ski.id), :method => 'delete' %> </p>
<p><%= link_to "Edit", edit_ski_url(@ski.id) %> </p>
</div>
